td,th{
	border-collapse: collapse;
	text-align: left;
	padding: 10px;
	border: 1px solid black;
	color:white;
}
table{
	margin-left: auto;
	margin-right: auto;
}
tr{
	font-size:20px;
	font-weight:bolder;
	color:white;
	background-image:linear-gradient(#00A4EF,#000081);
}
